DRONE_SECRET={{drone_secret}}
{% if drone_debug %}
DRONE_DEBUG=true
{% endif %}
DRONE_ADMIN={% for admin in drone_admins %}{{admin}}{% if not loop.last %},{% endif %}{% endfor %}

DRONE_ORG={% for org in drone_orgs %}{{org}}{% if not loop.last %},{% endif %}{% endfor %}

DRONE_GITHUB=true
DRONE_GITHUB_CLIENT={{drone_github_client}}
DRONE_GITHUB_SECRET={{drone_github_secret}}
DRONE_DATABASE_DRIVER={{drone_database_driver}}
DRONE_DATABASE_DATASOURCE={{drone_database_datasource}}
